.open #global-nav {
    z-index: 1;
    visibility: visible;
  }
  #global-nav {
    visibility: hidden;
    position: fixed;
    display: table;
    vertical-align: middle;
    color: #fff;
    background-color: #127CFF;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  #global-nav ul {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    padding: 30px;
  }
  #global-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: 8vw!important;
  }
  
  /* ***********************************************************
  * nav-list
  * *********************************************************** */
  #global-nav ul li {
    opacity: 0;
    -webkit-transform: scaleX(0) translateX(-260px);
    transform: scaleX(0) translateX(-260px);
    -webkit-transition: none;
    transition: none;
  }
  .open #global-nav ul li {
    opacity: 1;
    -webkit-transform: scaleX(1) translateX(0);
    transform: scaleX(1) translateX(0);
  
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
  }
  .open #global-nav ul li:nth-child(2) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
  }
  .open #global-nav ul li:nth-child(3) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }
  .open #global-nav ul li:nth-child(4) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
  }
  .open #global-nav ul li:nth-child(5) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
  }
  
  /* ***********************************************************
  * #nav-bg
  * *********************************************************** */
  #nav-bg {
    content: "";
    width: 60px;
    height: 60px;
    left: calc((100% - 60px)/2);
    bottom: 10px;
    display: block;
    position: fixed;
    background-color: #127CFF;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
  
  }
  .open #nav-bg {
    -webkit-transform: scale(30);
    transform: scale(30);
    -webkit-transition: all .6s ease-out;
    transition: all .6s ease-out;
  }
  
  /* ***********************************************************
  * #nav-toggle
  * *********************************************************** */

  
  #nav-toggle div {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #nav-toggle span {
  /*   display: block; */
    height: 2px;
    width: 100%;
    background: #fff;
  /*   left: 0; */
    zoom: 1;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    
    margin: 4px 0;
  }
  
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 8px;
  }
  #nav-toggle span:nth-child(3) {
    top: 16px;
  }
  
  .open #nav-toggle {
    background: transparent;
  }
  
  .open #nav-toggle span {
    background: #fff;
  }
  
  .open #nav-toggle span:nth-child(1) {
    top: 9px;
    zoom: 1;
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 9px;
    zoom: 1;
  }
  
  .svg-menu-toggle {
    fill: #fff;
    pointer-events: all;
    cursor: pointer;;
  }
  .svg-menu-toggle .bar {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
    transform: rotate(0) translateY(0) translateX(0);
    opacity: 1;
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
    -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  }
  .svg-menu-toggle .bar:nth-of-type(1) {
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
  }
  .svg-menu-toggle .bar:nth-of-type(3) {
    -webkit-transform-origin: 20px 20px;
    transform-origin: 20px 20px;
  }
  
  .svg-menu-toggle:hover .bar:nth-of-type(1) {
    -webkit-transform: rotate(-45deg) translateY(0) translateX(0);
    transform: rotate(-45deg) translateY(0) translateX(0);
  }
  .svg-menu-toggle:hover .bar:nth-of-type(2) {
    opacity: 0;
  }
  .svg-menu-toggle:hover .bar:nth-of-type(3) {
    -webkit-transform: rotate(45deg) translateY(0em) translateX(0em);
    transform: rotate(45deg) translateY(0em) translateX(0em);
  }
  
  .inline-svg {
    display: block;
    margin: 0 auto;
  }
  
